@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@400;500&family=Source+Code+Pro:wght@500&display=swap");

* {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: "Gantari", sans-serif;
  line-height: 1.25;
  color: var(--clr-100);
  background: var(--bg-100);
  padding: 1rem 0;
  user-select: none;

  --bg-000: rgb(12, 12, 12);
  --bg-100: rgb(18, 18, 18);
  --bg-200: rgb(30, 30, 30);
  --bg-300: rgb(42, 42, 42);
  --bg-500: rgb(66, 66, 66);
  --clr-100: rgb(236, 236, 236);
  --clr-300: rgb(188, 188, 188);
}

@media (max-width: 440px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
